*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Header CSS Starts*/
header{
    background-color: #333;
    color: white;
    padding: 20px;
    
}
nav
{
    background-color: #ff8500;
    padding: 10px;

}

nav ul {
    list-style: none;
}
nav ul li
{
    display: inline;
    margin-right: 20px;
}
nav ul li a{

    color: white;
    text-decoration: none;
}
/* Header CSS Ends*/


/*Footer Page CSS Begin*/

footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer p a {

    color: white;
    text-decoration: none;
    color: #f7c784;
}

footer p a:hover
{

    color: #f28d21;
}

/*Footer Page CSS Ends*/


/*Index Page CSS Begin*/

.hero{
background-image: url(images/mainPic.jpg);
height: 400px;
background-size: cover;
justify-content: center;
align-items: center;
display: flex;
}

.hero-section{
    text-align: center;
    
}
.hero-section h2{
    color: #56a8f0;
}

.hero-section p{
    color: rgb(239, 231, 181);
}




/*Index Page CSS Ends*/